body, html {
    margin: 5px;
    height: 100%;
    width: 100%;
    
    
}

.col {
    /* border: 1px solid black; */
    height: 50;
    background-color: rgb(221, 238, 147);
    
}

.cl2 {
    height:70%
}


    
